<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @note.name %></td></br>
            <td><%= @note.content %></td>
        </tr>
    </tbody>
</table>
