<%= form_for @le_venous_form do |f| %>


   <section class="col-md-6">
    <h1>Lower Extremity Venous Exam Form</h1>
    <%= f.label "TECHNOLOGIST" %> <br/>
    <%= f.label "AGE" %> <br/>
    <%= f.label "GENDER" %> <br/>


    
<% end %>