@import "bootstrap-sprockets";
@import "bootstrap";

$warning: #FF4500;
$nav_text_color: White;
$default_border: #E6E6E6;
$default_background: #432F21;
$normal_text: #1FD26A;
$system_message: #1FD26A;
$hover_color: #333333;
$topbar_color: #222222;

@mixin box_sizing
{
  -moz-box-siding: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation
{
  color: $system_message;
  ul
  {
    color: $system_message;
    margin: 0 0 30px 0;
  }
}

.field_with_errors
{
  @extend .has-error;
  .form-control
  {
    color: $state-danger-text;
  }
}

header
{
  &.navbar-fixed-top
  {
    border-bottom: 3px outset $normal_text;
  }
  &.navbar-background
  {
    background-color: $topbar_color;
  }
  &.navbar-main
  {
    nav
    {
      ul
      {
        
        &.navbar-nav
        {
          margin-right: 10px;
          li
          { 
            a
            {
              &.menu-tab
              {
                color: $normal_text;
                padding: 15px;
                text-shadow: 0 2px 2px rgba(0,0,0,.3);

                &:hover
                {
                  border-radius: 2px 0 0 0;
                  background-color: $hover_color;
                }

                &:focus
                {
                  border-radius: 2px 0 0 0;
                  background-color: $hover_color;
                }
              }
            }
          }
        }      
      }
    }
  }
}

.dropdown-menu
{
  background-color: $topbar_color;
  li
  {
    a{
      color: $normal_text;
      &:hover
      {
        background-color: $hover_color;
        color: $normal_text;
      }
    }
  }
}

.logo
{
  img
  { 
    margin-top: 15px;
  }
  margin-right: 10px;
  margin-left: 20px;
}

.form-control
{
  margin-bottom: 10px;
}



//Globals//
body
{
    background: $default_background;
}

h1
{
    font-size: 3em;
    color: $normal_text;
}
thead
{
  background-color: $topbar_color;
}
th
{
  color: $normal_text;
  padding: 5px;
  padding-right: 5px;
}

td
{
  color: $normal_text;
  padding: 5px;
  padding-right: 5px;
}

.center
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header1
{
    font-size: 1em;
    border: 1px solid Green;
}

label
{
  color: $normal_text;
}
.system-message
{
  color: $system_message;
}

.alert
{
  color: $warning;
  font-size: 2.5em;
  background-color: $default_background;
  border: 0;
}

.btn-main
{
  background-color: $normal_text;
  color: $default_background;
  &:hover
  {
    background-color: $topbar_color; 
    color: $normal_text;
  }
}

select
{
  width: 100%;
  border-radius: 3px;
  font-size: 1.53em;
  margin-bottom: 10px;
}