@import "bootstrap-sprockets";
@import "bootstrap";

$warning: Red;
$nav_text_color: White;
$default_border: #E6E6E6;
$default_background: #432F21;
$normal_text: #1FD26A;


@mixin box_sizing
{
  -moz-box-siding: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump
{
  clear: both;
  floar: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation
{
  color: $warning;
  ul
  {
    color: $warning;
    margin: 0 0 30px 0;
  }
}

.field_with_errors
{
  @extend .has-error;
  .form-control
  {
    color: $state-danger-text;
  }
}

header
{

  &.navbar-fixed-top
  {
    border-bottom: 5px outset white;
  }
  

  &.navbar-main
  {
    nav
    {
      ul
      {
        &.navbar-nav
        {
          li
          { 
            a
            {
              &.menu-tab
              {
                color: white;
                padding: 10px;
                text-shadow: 0 2px 2px rgba(0,0,0,.3);

                &:hover
                {
                  border-radius: 12px 0 0 0;
                  background-color: white;
                }

                &:focus
                {
                  border-radius: 12px 0 0 0;
                  background-color: white;
                }
              }
            }
          }
        }      
      }
    }
  }
}

.logo
{
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  width: 100%;
  text-shadow: 0 3px 3px rgba(0,0,0,.3);

  &:hover
  {
    text-decoration: none;
  }
}



//Globals//
body
{
    background: $default_background;
  
    
}

h1
{
    font-size: 3em;
    color: $normal_text;
}

.center
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header1
{
    font-size: 1em;
    border: 1px solid Green;
}

label
{
  color: $normal_text;
}